body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

h1 {
  margin: 0;
  padding: 20px;
}

.App {
  padding: 30px 0;
  background: #f3f6fd;
}

.main-container {
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  border-radius: 4px;
  margin: 30px 100px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chartDesc {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.desc {
  padding-top: 5px;
  font-size: 15px;
  line-height: 24px;
  color: #2fa9de;
}

.title {
  /* margin: 0; */
  color: #163e2e;
}

h2 {
  margin: 0;
  /* margin-bottom: 10px; */
}
