body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

.main-container {
  padding: 8px;
  border: 1px solid gray;
  margin: 8px;
  min-height: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chartDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desc {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #2fa9de;
}

.title {
  color: #163e2e;
}
