.chartContainer {
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
}

.chartHeader {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .chartContainer {
    width: 100%;
  }
}
