.tableContainer {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.globalSearch {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
}

.columnFilter {
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 98%;
  height: 25px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: gray;
}

th {
  cursor: pointer;
  background-color: #ffefef;
  color: black;
}

th span {
  margin-left: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.pagination button,
.pagination select {
  margin: 0 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
