.toggleSwitch {
  display: inline-block;
  position: relative;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  display: block;
  width: 45px;
  height: 20px;
  background-color: #ccc;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
}

.toggleSlider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggleInput:checked + .toggleLabel {
  background-color: #4caf50;
}

.toggleInput:checked + .toggleLabel .toggleSlider {
  transform: translateX(26px);
}
